services:
  db:
    ports:
      - "3306:3306"

  minio:
    ports:
      - "9000:9000"
      - "9001:9001"

  backend:
    # Override command to use dev server
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      # Mount code for hot reloading
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_DEBUG=1
